<div class="container">
  <div class="grid footer">
    <div></div>
    <div>
      <div>
        <small>Application designed by Jack Aitken</small>
      </div>
      <div>
        <small>
          <img src="./images/GitHub-Mark-Light-32px.png" alt="Github logo">
          <a href="https://github.com/jackaitken/LAN-chat-application"> Source Code</a>
        </small>
      </div>
    </div>
    <div></div>
  </div>
</div>