<div class="container">
  <hgroup class="container">
    <h2>LAN Chat App</h2>
    <h3><i>A local area network chat application for friends</i></h3>
  </hgroup>
  <div class="sign-out-form grid">
    <form action="/signout" method="post">
      <button class="sign-out-button">Sign out</button>
    </form>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <hr>
</div>