<div class="modal-content" id="modal-content">
  <div class="modal-header">
    <h3>Enter your display name</h3>
  </div>
  <div class="modal-body">
    <form action="#" id="modal-form">
      <div class="grid">
        <div></div>
        <input type="text" id="display-name-input" autocomplete="off" class="display-name-input">
        <div></div>
      </div>
      <div class="grid">
        <div></div>
        <button type="submit">Save</button>
        <div></div>
      </div>
  </form>
  </div>
</div>