<div class="sign-out-form grid">
  <form action="/signout" method="post">
    <button class="sign-out-button">Sign out</button>
  </form>
  <div></div>
  <div><%- include('./flash'); %></div>
  <div class="animate__animated animate__bounce" id="sign-in-notification"></div>
</div>