<div class="sign-out-form grid">
  <form action="/signout" method="post">
    <button class="header-button">Sign out</button>
  </form>
  <form action="/changeDisplayName">
    <button class="header-button">Change Display Name</button>
  </form>
  <div><%- include('./flash'); %></div>
  <div id="notification"></div>
</div>