.title-link {
  color: inherit;
  text-decoration: none;
}

.header-container {
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 7px;
}

.empty-space {
  padding-bottom: 20px;
}

.sign-out-form {
  text-align: left;
  padding-bottom: 0%;
}

.header-button {
  margin: 0%;
}

.main-container {
  margin-top: 0px;
  padding: 6px;
}

.message-box {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  border-width: 1px;
  border-style: solid;
  border-color: slategray;
  border-radius: 3px;
  margin: auto;
  height: 350px;
  padding: 15px;
}
.compose-message {
  padding-top: 10px;
}

@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.flash {
  color: #3399cc;
  text-align: center;
  padding: 10px 20px;
  animation-name: fadeAnimation;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
}

.flash-success {
  color: #33cc99;
}

.flash-warning {
  color: #ff6633;
}

.modal-content {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  background-color: rgba(0,0,0,0.4);
}

.modal-header {
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.modal-footer {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.display-name-login-input {
  text-align: center;
}

.typing-notfication {
  font-weight: lighter;
  font-size: 20px;
  padding-left: 10px;
  height: 30px;
}

#new-message {
  color: white;
  background-color: #1e88e52c;
  width: fit-content;
  transition: transform .5s;
  padding: 1%;
  border-radius: 3%;
  margin: 5px;
}

#new-message:hover {
  transform: scale(1.1);
}

#notification {
  animation-name: fadeAnimation;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.not-found {
  align-items: center;
  margin: auto;
  text-align: center;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  align-items: center;
  text-align: center;
}