.header-container {
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 7px;
}

.sign-out-form {
  text-align: left;
}

.sign-out.button {
  width: 10%;
}

.main-container {
  margin-top: 0px;
  padding: 6px;
}

.message-box {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-color: slategray;
  border-radius: 3px;
  margin: auto;
  height: 450px;
  padding: 15px;
  overflow-y: scroll;
  overflow-wrap: normal;
}
.compose-message {
  padding-top: 10px;
}

.flash {
  background-color: #cbe5f2;
  color: #3399cc;
  margin: 20px 0 1.5rem;
  max-width: 1000px;
  padding: 10px 20px;
  border-radius: 10px;
}

.flash-success {
  background-color: #cbf2e5;
  color: #33cc99;
}

.flash-warning {
  background-color: #ffcfbf;
  color: #ff6633;
}

.modal-content {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  background-color: rgba(0,0,0,0.4);
}

.modal-header {
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.modal-footer {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.display-name-login-input {
  text-align: center;
}

#new-message:hover {
  color: darkorange;
}

.typing-notfication {
  font-weight: lighter;
  font-size: 20px;
  padding-left: 10px;
}