<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="container"> 
    <header class="header-container">
      <%- include('../partials/header'); %>
      <% if (signedIn) { %>
        <%- include('../partials/sign-out'); %>
      <% } %>
      <hr>
    </header>
  </div>
  <main class="container main-container grid not-found">
    <div></div>
    <div>
      <h1>404: Not Found</h1>
      <h4>Oops...Page not found</h4>
      <p><a href="/">Head back home</a></p>
    </div>
    <div></div>
  </main>
</body>
</html>