<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header class="header-container">
    <%- include('../partials/header'); %>
    <hr>
    <%- include('../partials/flash'); %>
  </header>

  <main class="container main-container">
    <div class="modal-content" id="modal-content">
      <div class="modal-header">
        <h3>Create a new account</h3>
      </div>
      <div class="modal-body">
        <form action="/newuser" method='post' id="modal-form">
          <div class="grid">
            <div></div>
            <input type="username" name="username" id="username" class="display-name-login-input" placeholder="Username">
            <div></div>
          </div>
          <div class="grid">
            <div></div>
            <input type="password" name="password" class="display-name-login-input" placeholder="Password">
            <div></div>
          </div>
          <div class="grid">
            <div></div>
            <button type="submit">Create account</button>
            <div></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p>Already have an account? <a href="/signin"> Return to sign in</a></p>
      </div>
    </div>
  </main>
  <script src="./javascript/newUserScripts.js"></script>
</body>
</html>